<div>
  <img src="/images/user-photo.png" class="user-photo" />
</div>
<h2 class="vsts-stt-color-primary">Push to Talk</h2>
<div>
  <button type="button" class="vsts-stt-talk-button">
    &nbsp;
  </button>
</div>