<div>
  <img src="/images/vsts-logo.png" />
</div>
<h1 class="vsts-stt-color-primary">VSTS <br />Speech-to-Task</h1>
<div>
  <button type="button" class="vsts-stt-button vsts-stt-button--primary" {{action "login"}}>
    Login
  </button>
</div>